<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <!--<connectionStrings>
    <add name="ConnectionStringForCreate" providerName="System.Data.SqlClient" connectionString="Persist Security Info = False; Integrated Security = true; Initial Catalog = master; server = .\SQLEXPRESS;"/>
    <add name="ConnectionStringForUse" providerName="System.Data.SqlClient" connectionString="Persist Security Info = False; Integrated Security = true; Initial Catalog = testDb; server = .\SQLEXPRESS;"/>
  </connectionStrings>-->
  <connectionStrings>
    <add name="ConnectionStringForCreate" providerName="System.Data.SqlClient" connectionString="Persist Security Info = False; Integrated Security = true; Initial Catalog = master; server = (local);"/>
    <add name="ConnectionStringForUse" providerName="System.Data.SqlClient" connectionString="Persist Security Info = False; Integrated Security = true; Initial Catalog = testDb; server = (local);"/>
  </connectionStrings>
</configuration>