<!DOCTYPE html>
<html ng-app="instanceApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    @*<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>*@
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>

    <script src="~/Scripts/ui-bootstrap-tpls-0.14.3.js"></script>

    @*for validation errors*@
    <script src="~/Scripts/angular-messages.js"></script>

    <!--For Notification-->
    <script src="~/Scripts/angular-animate.min.js"></script>
    <link href="~/Content/growl-notifiaction-v2/angular-growl.css" rel="stylesheet">
    <script src="~/Scripts/growl-notifiaction-v2/angular-growl.js"></script>
    <!--For DataGrid-->
    <link rel="stylesheet" href="~/Scripts/trNgGrid/css/trNgGrid.css">
    <script src="~/Scripts/trNgGrid/js/trNgGrid.js"></script>
    
    <!-- Base parameters -->
    <script src="~/Home/BaseParameters"></script>

    <script src="~/AngularScript/Application/app.js"></script>
    <script src="~/AngularScript/Filters/filter.js"></script>
    <script src="~/AngularScript/Controllers/services.js"></script>
    <script src="~/AngularScript/Util/validation.js"></script>
    <script src="~/AngularScript/Controllers/controllers.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a href="#/instances" class="thumb navbar-brand">Instances</a>
                <a href="#/users" class="thumb navbar-brand">Users</a>
                <a href="#/options" class="thumb navbar-brand">Options</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        
       
    </div>
    <footer class=" container ">
        <p>&copy; @DateTime.Now.Year - IF.059.Net Instance Monitoring</p>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</body>
</html>